* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-image: url("background1.jpeg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: auto;
}

.main-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: rgb(228,228,228, 0.7);

}

.main-container p{  
    padding-left: 50px;
}

.beautifulHair{
    height: 600px;
}

h1{
    font-size: 60px;
    font-family: 'Questrial', sans-serif;
    padding-left: 50px;
}

h2{
    padding-left: 50px;
}

header, main, footer{
    border: .5px solid black;
    flex: 1;
}

header nav{
    width: 600px;
}

header nav ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

header img{
    width: 200px;
    display: flex;
    margin: auto;
    padding-top: 10px;
}

nav > a {
    color: black;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 10pt;
    text-align: center;
    letter-spacing: 5px;
    
  }

a:hover {
    background-color: black;
    color: white;
}

.book-now {
    background: black;
    color: #fff;
    text-align: center;
      width: 110x;
      height: 30px;
      font-family: 'Zen Kaku Gothic Antique', sans-serif;
      font-size: 12px;
      line-height: 1.2;
      text-transform: uppercase; 
  }
  .book-now2{
    width: 150px;
    background: black;
  color: #fff;
  text-align: center;
    height: 40px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 2ppx;
    line-height: 1.2;
    text-transform: uppercase; 
    font-weight:400;
}

.logobtn{
    width: 400px;
}

footer{
    background: black;
    text-align: center;
    color: white;
    line-height: 30px;
    margin-top: 60px;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  #hamburger{
      display: none;
  }

  @media screen and (max-width: 600px){
    #mobile-navigation {
        background: url("hamburger.png") no-repeat 0 0;
        display: block;
        height: 50px;
        margin: 30px auto 0;
        padding: 0;
        width: 50px;
    }
    li {
        display: none;
    }
    #hamburger{
        display: block;
            height: 50px;
            width: 50px;
            margin-bottom: 20px;
            margin-top: -80px;
    }
    .beautifulHair{
        display: none;
    }
    h1{
      line-height: 1.3;
        padding-left: 20px;
    }
  .button-group{
        padding-top: -20px;
        margin-left: 30pz;

    }
    .book-now2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 40px;
    }
    h1{
        padding-left: 50px;
    }
    h2{
        padding-left: 50px;
    }
    }
    