* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-image: url("background1.jpeg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    height: 140%;
    min-width: 400px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: auto;
}

header, main, section, footer{
    border: .5px solid black;
    flex: 1;
}

.main-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}

h1{
    font-size: 60px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}



header nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    padding: 20
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

header img{
    width: 200px;
    display: flex;
    margin: auto;
    padding-top: 10px;
}

nav > a {
    color: black;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 10pt;
    text-align: center;
    letter-spacing: 5px;
    
  }

a:hover {
    background-color: black;
    color: white;
}

.book-now {
    background: black;
    color: #fff;
    text-align: center;
      width: 110x;
      height: 30px;
      font-family: 'Zen Kaku Gothic Antique', sans-serif;
      font-size: 12px;
      line-height: 1.2;
      text-transform: uppercase; 
  }

 ul img{
    display: block;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 24px 0 0;
    width: 960px;
}

 ul li {
    display: block;
    float: left;
    margin: 0 10px 20px;
    padding: 0;
}

ul li img {
    border: 2px solid #1a1a1a;
    display: block;
    margin: 0;
    padding: 0;
    transition: 0.5s ease-in-out;
}

footer{
    background: black;
    text-align: center;
}

.gallery img{
    height: 300px;
    width: 300px;
    filter: grayscale(100%); 
}

.gallery img:hover{
    filter: grayscale(0%);
}